Django==1.11.10
django-extensions==2.1.6
gunicorn == 18.0
jsonpatch==1.2
jsonpointer==1.0
jsonschema==2.6.0
matplotlib==2.2.4
virtualenv==16.2.0
virtualenv-clone==0.5.2
virtualenvwrapper==4.8.4
websocket-client==0.56.0
whitenoise==4.1.2
