#home-title {
  color: teal;
  /*padding: 10px;*/
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 50px;
}

img {
  width: 200px;
  height: 112px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.navBarDiv {
    margin: auto;
}

.navBarList {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: #555555;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    color: #DDDDDD;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
}

li a:hover {
  background-color: #444444;
  color: #31dbe3;
}


h1 {
  color: teal;
  /*padding: 10px;*/
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 25px;
}

#parentDiv {
    width: 100%;
}
#bookmarkDiv {
    float: right;
    width:45%;
    border: 1px solid black;
    /*margin: auto;*/
    /*padding-bottom: 25px;*/
    margin-right: 4.5%;
    height: 50vh;
}

#todayDiv {
    float: left;
    width: 45%;
    display: inline-table;
    border: 1px solid black;
    margin-left: 4.5%;
    /*padding-bottom: 1%;*/
    height: 50vh;
}

#todayGraph {
    width: 70%;
    height: auto;
}

#currencyBar{
    width: 15%;
    /*display: table;*/
    margin: auto;
    
}

#currencyBar, button {
  color: white;
  /*padding: 8px;*/
  font-weight: bold;
  font-size: 16px;
  /*border-radius: 5px;*/
  cursor: pointer;
  
  display: inline;
  margin: auto;
}

#currencyBar{
    width: 100%;
    float: left;
}


.dynamic-bar{
    background-color: #EEEEEE;
    color: teal;
    width: 33%;
    margin-top: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
    border:none;
    font-size: 30px;
}

.dynamic-bar:focus {
    outline: none;
    /*background-color: #DDDDDD;*/
    text-shadow: 5px 5px 5px #AAAAAA;
    transition: text-shadow .3s;
}

.assetDiv {
    width: 90%;
    margin:auto;
    /*list-style-type: none;*/
}

.currencyTable {
    width: 100%;
    table-layout: fixed;
    /*margin: auto;*/
}

.currencyTable td {
    border: 1px solid #ddd;
    padding: 15px;
}

.currencyTable tr:nth-child(even){
    background-color: #dddddd;
}

.currencyTable tr:hover {
    background-color: #AAAAAA;
}


body {
    background-color: #EEEEEE;
}

