#myPortfolio-title {
  color: teal;
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 50px;
}

#Wrap{
    width: 95%;
    margin: auto;
}

#divAsset {
    width: 18%;
}

#assets{
    width: 18%;
}

#divCurrentAsset {
    width: 50%;
}

#graphDiv {
    width:50%;
}

#graphDiv p {
    font-size: 20px;
    font-family: "Verdana";
}

#todayGraph {
    width: 70%;
    height: auto;
}

#divBookAsset {
    width: 25%;
}

#myBookmarks{
    width: 29.5%;
}

#divAsset, #divCurrentAsset, #divBookAsset, #assets, #graphDiv, #myBookmarks{
    border: 1px solid #000;
    float: left;
    text-align: center;
}

#divAsset, #divCurrentAsset, #divBookAsset {
    margin-top: 2%;
    background-color: #222;
    font-family: Arial;
    color: white;
}

#assets, #graphDiv, #myBookmarks {
    background-color: rgba(255, 255, 255, .6);
    height: auto;
    font-size: 20px;
    padding: 20px;
    padding-bottom: 40px;
}

#assetsUl, #myBookmarksUl {
    list-style: none;
    /*display:inline-block;*/
    float: left;
    font-size: 20px;
    /*margin: 20px;*/
}

#assetsUl li, #myBookmarksUl li {
    float: left;
    clear: left;
    padding-top: 5px;
    padding-bottom: 5px;
}

#myBookmarksUl{
    list-style: none;
    display:inline-block;
}

.currencyBookmarksTable {
    margin: auto;
    width: 100%;
}

.currencyBookmarksTable td {
    /*width: 30%;*/
    border: 1px solid black;
    padding: 5px;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}

#bookName {
    width: 40%;
}

#bookPrice {
    width: 20%;
}

#buySell{
    width: 40%;
    margin:auto;
    margin-top: 20px;
}

.options {
    color: white;
    background-color: teal;
    width: 49%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border:none;
    font-size: 25px;
    
}

body {
  background-image: url("/static/XChange/images/portfolioCity.png");
  background-size: 2000px 1300px;
}
