/*div:not(#navBarDiv) {*/
/*    width: 50%;*/
/*}*/

/*#graphDiv{*/
/*    height: 10px;*/
/*}*/

#divAssets{
    border:1px solid #000;
    /*padding:10%; */
    /*font-size: 25px;*/
    width: 30%;
    float: left;
}

#divCurrentAsset{
    /*display: inline-block;*/
    border:1px solid #000;
    /*padding:10%; */
    width: 50%;
    /*padding-right: 100%;*/
    /*font-size: 25px;*/
    /*white-space: nowrap;*/
    float: right;
}

#divAssets p, #divCurrentAsset p {
    font-size: 25px;
}

#Wrap{
    /*display: flex;*/
    width: 100%;
}

#assetsUl {
    list-style: none;
    display:inline-block;
    border:1px solid #000;
    padding:9%;
    height:150px;
    margin-top:5%;
    font-size: 15px;
    float: left;
}

#myBookmarksu1{
    list-style: none;
    display:inline-block;
    border:1px solid #000;
    padding:20px;
    float: right;
   
}

#holder{
    width: 100%;
}

#assets{
    width: 20%;
}

#graphDiv {
    width:50%;
    /*height: 200px;*/
    overflow: hidden;
    /*border:40px solid #000;*/
    /*padding:10%;*/
    /*margin-top:50%;*/
    margin:auto;
    
}

#myBookmarks{
    width:20%;
    /*float: right;*/
    /*margin-left: 400px;*/
}

#buySell{
    width: 50%;
    float:left;
    margin:auto;
}

.options{
    /*background-color: teal;*/
    color: teal;
    width: 66%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border:none;
    
}