#myPortfolio-title {
  color: teal;
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 50px;
}

#titleWrap {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    clear: both;
}

#titleWrap h2{
    padding-left: 10px;
}


#divAsset {
    width: 30.175%;
    float: left;
}

#divCurrentAsset {
    width: 65.1%;
    float: right;
}

#listWrap {
    width: 90%;
    margin: auto;
    clear: both;
    overflow-y: auto;
    /*height: 700px;*/
}

#listWrap > div {
    border: 1px solid black;
}

#assets {
    width: 30%;
    float: left;
    height: 556px;
    overflow-y: scroll;
}

.currencyAssetsTable {
    width: 100%;
    margin: auto;
    padding: 20px;
}

.currencyAssetsTable td {
    border: 1px solid black;
    font-family: Arial;
    font-size: 15px;
    padding: 15px;
    
}

.currencyAssetsTable tr:nth-child(odd){
    background-color: #dddddd;
}

.currencyAssetsTable tr:nth-child(even){
    background-color: #eeeeee;
}

.currencyAssetsTable tr:hover {
  background-color: teal;
  color: white;
}

.currencyAssetsTable button {
    color: white;
    background-color: #222;
    font-family: Arial;
    border: none;
    padding: 10px;
    margin: auto;
    font-size: 18px;
    font-weight: bold;
    /*width: 100%;*/
}

.currencyAssetsTable button:hover {
    cursor: pointer;    
}

#nameCol {
    width: 80%;
}

#buttonCol {
    width: 20%;
}

#graphViewWrap {
    width: 65%;
    float: right;
    height: 100%;
}

#graphDiv {
    height: 100%;
    /*padding-top: 20px;*/
    padding-left: 40px;
}

#detailsPTag {
    text-align: center;
}

#bookTitleWrap, #bookmarkWrap {
    width: 60%;
    margin: auto;
    clear: both;
}

#bookTitleWrap {
    margin-top: 50px;    
}

/*#divBookAsset {*/
/*    margin-top: 50px;*/
/*}*/

#divBookAsset, #myBookmarks {
    width: 100%;
    margin: auto;
}

#divBookAsset h2 {
    padding: 20px;
    margin: 0px;
}


#divAsset, #divCurrentAsset, #divBookAsset {
    background-color: #222;
    font-family: Arial;
    color: white;
    text-align: center;
    font-size: 18px;
}

#assets, #graphDiv, #myBookmarks {
    background-color: rgba(255, 255, 255, .6);
    font-size: 20px;
}

.currencyBookmarksTable {
    padding: 20px;
    width: 100%;
}

.currencyBookmarksTable td {
    border: 1px solid black;
    padding: 15px;
    font-size: 18px;
}

.currencyBookmarksTable th{
  text-align: left;
  padding: 15px;
  background-color: #222;
  color: white;
  font-family: Arial;
  font-size: 20px;
  border: none;
}

.currencyBookmarksTable td, th {
    font-family: Arial; 
}

.currencyBookmarksTable tr:hover {
  background-color: #AAAAAA;
}
.currencyBookmarksTable tr:nth-child(odd){
    background-color: #dddddd;
}

.currencyBookmarksTable tr:nth-child(even){
    background-color: #eeeeee;
}

.currencyBookmarksTable tr:hover {
  background-color: teal;
  color: white;
}

.leftAlign {
    text-align: left;
}

.rightAlign {
    text-align: right;
}


#bookName {
  width: 50%;
}

#bookDate {
  width: 25%;
}

#bookPrice {
  width: 15%;
}

#sellButton {
    color: white;
    background-color: teal;
    width: 49%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    border:none;
    font-size: 25px;
    
}

body {
  background-image: url("/static/XChange/images/portfolioCity.png");
  background-size: 3000px 1900px;
}
