#search-title {
  color: teal;
  /*padding: 10px;*/
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 50px;
}

#searchBar {

}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 20%;
    border: 1px solid #AAAAAA;
    box-sizing: border-box;
}

input:focus {
    background-color: lightblue;    
}

#searchBarButton {
  margin-top: 10px;
  background-color: teal;
  border: none;
  color: white;
  padding: 8px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100px;
}

#s-table td, #s-table th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 20px;
  font-family: Arial;
}

#s-table td {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}

#s-table tr:nth-child(even){
    background-color: #dddddd;
}

#searchBarButton {
  width: 10%;
}

#s-table th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background-color: teal;
  color: white;
  border-radius: 5px;
  border: none;
}

#s-table td:hover {
    cursor: pointer;
}

input[type=text] {
  width: 30%;
}
#s {
    width: 90%;
    margin:auto;
}

table {
    width: 100%;
    /*margin:auto;*/
}

#errorMsg {
  color: #DB112A;
  font-family: Arial;
}

body {
  background-color: #EEEEEE;
}