<!DOCTYPE html>
<html>
  <head>
    <title>More Details</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/assetDetails.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/assetDetails.js"></script>
    <link rel="icon" href="/static/XChange/images/tab_favicon.png">
  </head>
  <body>
    <h1 id="assetDetails-title">{{selectedAsset.companyName}}</h1> 
    <div class="navBarDiv">
      <ul class="navBarList">
        <li class="homeNav"><a href="/home.html">Home</a></li>
        <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
        <li class="srchNav"><a href="search.html">Search</a></li>
        <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
        <li class="settNav"><a href="settings.html">Settings</a></li>
        <li class="logOut">
          <form method='POST'>
            {% csrf_token %}
            <button type="submit" name="submit" value="Logout">Logout</button>
          </form></li>
      </ul>
    </div>
    <h2>Current Balance: ${{currentBalance}}</h2>
    <div id="allDetails">
        <div id="graphDiv">
            <p>{{selectedAsset.companyName}}</p>
            <br>
            {% if graphic %}
              <div id="graphImage">
                <img id="todayGraph" src="data:image/png;base64,{{graphic|safe}}" alt="Today's Graph">
              </div>
            {% else %}
              <h2>Daily High: {{selectedAsset.high}}</h2>
              <h2>Current Price: {{selectedAsset.latestPrice}}</h2>
              <h2>Daily Low: {{selectedAsset.low}}</h2>
              <h2>Previous Close: {{selectedAsset.previousClose}}</h2>
            {% endif %}
            
            
        </div>
        <div id="buyDiv">
          <form method='POST'>
                <p>This asset is currently priced at $<label id="currentPrice" name = 'currentPrice'>{{selectedAsset.latestPrice}}</label></p>
                <label for="numOfShares">Shares:</label>
                <input type="number" id="numOfShares" name="numOfShares" min="0.1" step="0.1" oninput="calculate()" />
                <p id="totalCost"> $0.00</p>
                {% if method == 'Buy' %}
                <div id="buyButtonDiv">
                    {% csrf_token %}
                    <button type="submit" id="buyButton" name="buyButton" onclick="getTotalCost()">Buy</button>
                </div>
                {% elif method == 'Sell' %}
                <div id="sellButtonDiv">
                    {% csrf_token %}
                    <button type="submit" id="sellButton" name="sellButton" onclick="getTotalCost()">Buy</button>
                </div>
                {% endif %}
          </form>
        </div>
        <div id="setBookmarkDiv">
            <p>Create a bookmark for the current price.</p>
            <form method='POST'>
                <button id="bookmarkButton" name="bookmark">Bookmark Now</button>
            </form>
        </div>
    </div>
  </body>
</html>