<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/bookmarks.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/bookmarks.js"></script>
    <link rel="icon" href="/static/XChange/images/tab_favicon.png">
  </head>

  <body>
    <h1 id="bookmark-title">Bookmarks</h1>
    <div class="navBarDiv">
      <ul class="navBarList">
        <li class="homeNav"><a href="home.html">Home</a></li>
        <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
        <li class="srchNav"><a href="search.html">Search</a></li>
        <li class="bmarkNav"><a href="#">Bookmarks</a></li>
        <li class="settNav"><a href="settings.html">Settings</a></li>
      </ul>
    </div>
    <br>
    
    <table id = "tableBookmark">
    <!--<table style="width:50%">-->
      <tr>
        <div class = "tableBookmark">
        <th>Company</th>
        <th>Price-Point</th> 
        <th>Date</th>
        </div>
      </tr>
      
      <tr>
        <div class = "row2">
        <td>company1</td>
        <td>price point 1</td> 
        <td>date 1</td>
        <td> <button type="submit" value="Edit">Edit</button>
             <button type="submit" value="Submit">Delete</button> </td>
        </div>
      </tr>
      
        <tr>
        <div class = "row3">
        <td>company2</td>
        <td>price point 2</td> 
        <td>date 2</td>
        <td> <button type="submit" value="Edit">Edit</button>
             <button type="submit" value="Submit">Delete</button> </td>
        </div>
      </tr>
      
        <tr>
        <div class = "row4">
        <td>company3</td>
        <td>price point 3</td> 
        <td>date 3</td>
        <td> <button type="submit" value="Edit">Edit</button>
             <button type="submit" value="Submit">Delete</button> </td>
        </div>
      </tr>
      
        <tr>
        <div class = "row5">
        <td>company4</td>
        <td>price point 4</td> 
        <td>date 4</td>
        <td> <button type="submit" value="Edit">Edit</button>
             <button type="submit" value="Submit">Delete</button> </td>
        </div>
      </tr>
    </table>
  </body>
  <footer>
    <hr>
    <p>Team 5</p>
  </footer>
</html>