<!DOCTYPE html>
<html>
  <head>
    <title>Bookmarks</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/bookmarks.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/bookmarks.js"></script>
    <link rel="icon" href="/static/XChange/images/tab_favicon.png">
  </head>

  <body>
    <h1 id="bookmark-title">Bookmarks</h1>
    <div class="navBarDiv">
      <ul class="navBarList">
        <li class="homeNav"><a href="home.html">Home</a></li>
        <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
        <li class="srchNav"><a href="search.html">Search</a></li>
        <li class="bmarkNav"><a href="#">Bookmarks</a></li>
        <li class="settNav"><a href="settings.html">Settings</a></li>
        <li class="logOut">
                  <form method='POST'>
                    {% csrf_token %}
                    <button type="submit" name="submit" value="Logout">Logout</button>
                  </form></li>
      </ul>
    </div>
    <br>
    {%if message%}
    <h2>{{message}}</h2>
    {%endif%}
    <table id = "tableBookmark">
    <!--<table style="width:50%">-->
      <tr>
        <div class = "tableBookmark">
        <th>ID</th>
        <th>Company</th>
        <th>Price-Point</th> 
        <th>Date</th>
        </div>
      </tr>
      
      {% for b in userBookmarks %}
        <td> {{b.id}}</td>
        <td> {{b.companyName}}</td>
        <td> {{b.bookmarkPrice}}</td>
        <td> {{b.setDate}}</td>
        <td>
        <form method='POST'>
            {% csrf_token %}
            <button type="submit" name="delete" value="{{b.id}}">Delete</button>
        </form>
        </td>
      {% endfor %}
    </table>
  </body>
</html>