<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/XChange/css/home.css" />
        <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
        <script src="/static/XChange/js/home.js"></script>
    </head>  <!--Might rename to XChange or something similar-->
    <body>
        <h1 id="home-title">Home</h1>
        <img src="/static/XChange/images/homescreenlogo.png" alt="XChange Logo">
        <br>
        <br>
        <div class="navBarDiv">
            <ul class="navBarList">
              <li class="homeNav"><a href="#">Home</a></li>
              <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
              <li class="srchNav"><a href="search.html">Search</a></li>
              <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
              <li class="settNav"><a href="settings.html">Settings</a></li>
            </ul>
        </div>
        
        <div id="parentDiv">
            <div id="todayDiv">
                <h1>Today</h1>
                <p>Your net income from the past 24 hrs is: </p>
                <img id="todayGraph" src="/static/XChange/images/todayGraph.png" alt="Past 24hr net graph">
            </div>
            
            <!--<div id="parentDiv">-->
            <div id="bookmarkDiv">
                <h1>Bookmarks</h1>
                <table id="bookTable">
                    
                    
                    <tr>
                        <td>Test Company</td>
                        <td>Test Date</td>
                    </tr>
                    
                    <tr>
                        <td>Test Company 2</td>
                        <td>Test Date 2</td>
                    </tr>
                    
                    <tr>
                        <td>Test Company 3</td>
                        <td>Test Date 3</td>
                    </tr>
                    
                    <tr>
                        <td>Test Company 4</td>
                        <td>Test Date 4</td>
                    </tr>
                    
                    <tr>
                        <td>Test Company 5</td>
                        <td>Test Date 5</td>
                    </tr>
                </table>
                
            </div>
        <!--</div>-->
        </div>

        <div id="currencyBar" class="dynamic-section">
          <button class="dynamic-bar" onclick="openAsset('Stocks')">Stocks</button>
          <button class="dynamic-bar" onclick="openAsset('Crypto')">Cryptocurrency</button>
          <button class="dynamic-bar" onclick="openAsset('Search')">Search</button>            
        </div>
        <!--</div>-->
        
        <br>
        <div id="Stocks" class="assetDiv">
            <!--replace with table with no table borders
            Company name, Price per stock, %up or %down past day-->
            <ul>
                <li>Stock Company 1</li>
                <li>Stock Company 2</li>
                <li>Stock Company 3</li>
                <li>Stock Company 4</li>
                <li>Stock Company 5</li>
                <li>Stock Company 6</li>
                <li>Stock Company 7</li>
                <li>Stock Company 8</li>
                <li>Stock Company 9</li>
                <li>Stock Company 10</li>
            </ul>
        </div>
        
        <div id="Crypto" class="assetDiv" style="display:none">
            <ul>
                <li>Cryptocurrency Company 1</li>
                <li>Cryptocurrency Company 2</li>
                <li>Cryptocurrency Company 3</li>
                <li>Cryptocurrency Company 4</li>
                <li>Cryptocurrency Company 5</li>
                <li>Cryptocurrency Company 6</li>
                <li>Cryptocurrency Company 7</li>
                <li>Cryptocurrency Company 8</li>
                <li>Cryptocurrency Company 9</li>
                <li>Cryptocurrency Company 10</li>
            </ul>
        </div>
        
        <div id="Search" class="assetDiv" style="display:none">
            <ul>
                <li>Search Info Here</li>
            </ul>
        </div>
    </body>
    <footer>
    <hr>
    <p>Team 5</p>
  </footer>
</html>