<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="/static/XChange/home.css" />
        <link rel="stylesheet" type="text/css" href="/static/XChange/common.css" />
    </head>  <!--Might rename to XChange or something similar-->
    <body>
        <h1 id="home-title">Home</h1>
        <img src="/static/XChange/images/homescreenlogo.png" alt="XChange Logo">
        <br>
        <br>
        <div class="navBarDiv">
            <ul class="navBarList">
              <li class="homeNav"><a href="#">Home</a></li>
              <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
              <li class="srchNav"><a href="search.html">Search</a></li>
              <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
              <li class="settNav"><a href="settings.html">Settings</a></li>
            </ul>
        </div>
    </body>
    <footer>
    <hr>
    <p>Team 5</p>
  </footer>
</html>