<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
    </head>  <!--Might rename to XChange or something similar-->
    <body>
        <h1 id="home-title">XChange</h1>
        <!--<img src="Logo.png" alt="XChange Logo">-->
        
        <ul>
          <li class="homeNav"><a href="#">Home</a></li>
          <li class="portNav"><a href="myPortfolio.html">My Portfolio</a></li>
          <li class="srchNav"><a href="search.html">Search</a></li>
          <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
          <li class="settNav"><a href="settings.html">Settings</a></li>
        </ul>
    </body>
</html>