{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <link rel="stylesheet" type="text/css" href="{% static '/XChange/style.css' %}" />
  </head>
  <body>
    <h1 id="front-page-title"><span id="x">X</span><span id="c">C</span>hange</h1>
    <!-- Nav Bar -->

    <ul>
      <li id="homeNav"><a href="/home.html">Home</a></li>
      <li id="portNav"><a href="/myPortfolio.html">My Portfolio</a></li>
      <li id="srchNav"><a href="search.html">Search</a></li>
      <li id="settNav"><a href="settings.html">Settings</a></li>
    </ul>
    <br>
    
    <img src="../images/Logo.png" alt="XChange Logo">
    <br><br>
    <h2>Welcome to XChange, a stock and cryptocurrency purchasing simulator.
    XChange is here to help you understand more about investing with no risk!
    Our website provides real time prices of companies as well as.....</h2>
    <br><br>
    <h3>Lorem ipsum dolor sit amet, pro ad putent impetus. Te tantas libris option qui, qui nominavi iracundia te. In sumo novum sit, vis ea tantas nostrum. Summo semper invenire et est, id pericula sadipscing delicatissimi pri.</h3>
  </body>
</html>