{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/index.js"></script>
    <link rel="icon" href="/static/XChange/images/tab_favicon.png">
  </head>
  <body>
    <h1 id="front-page-title"><span id="x">X</span><span id="c">C</span>hange</h1>
    <!-- Nav Bar -->
    <br>
    
    <img src="/static/XChange/images/homescreenlogo.png" alt="XChange Logo">
    <br><br>
      <div id="textBox">
        <h2>Welcome to XChange, a stock and cryptocurrency purchasing simulator.
        XChange is here to help you understand more about investing with no risk!
        Our website provides real time prices of companies as well as some features
        to build your confidence in stocks and cryptocurrency.</h2>
        <br><hr><br>
        <h3>
          XChange™ is a one-stop finance monitoring website aimed at 
          people who are new to investing, without requirements of huge funds or
          monthly minimums. The recent rise in cryptocurrency and ease of 
          quick-investing apps such as Robinhood or Acorn has led to greater
          opportunities for people to invest. However these apps do not provide
          knowledge or experience to people that are new to investing. We aim to
          provide that chance for knowledge and experience with XChange. Our 
          goal is to provide an environment for users to try out the selling and
          buying ofstocks and cryptocurrencies to gain knowledge and experience,
          with no risk. This will be done by giving each new user a certain 
          amount of virtual money that they can use to start investing. We’ll 
          use the IEX™ and IEX Cloud™ APIs to access stock and coin prices.
          We’ll create investment portfolios for each user to show them their 
          earnings as well as a breakdown of each stock and coin they have 
          invested in. Our application will feature access to real-time stock 
          and cryptocurrency prices. We believe that through simulated 
          buying and selling, as well as learning to monitor your investment 
          portfolio, knowledge and experience is gained. This lets people that 
          are new to investing, notice and learn patterns to the market. 
        </h3>
      </div>
    <form action="login.html">

      <input type="submit" value="Login or Sign Up" />
    </form>
  </body>
</html>