{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/index.js"></script>
  </head>
  <body>
    <h1 id="front-page-title"><span id="x">X</span><span id="c">C</span>hange</h1>
    <!-- Nav Bar -->
    <br>
    
    <img src="/static/XChange/images/homescreenlogo.png" alt="XChange Logo">
    <br><br>
    <h2>Welcome to XChange, a stock and cryptocurrency purchasing simulator.
    XChange is here to help you understand more about investing with no risk!
    Our website provides real time prices of companies as well as some features
    to build your confidence in stocks and cryptocurrency.</h2>
    <br><hr><br>
    <h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus maximus malesuada volutpat. 
      Vestibulum dapibus purus vitae tempus imperdiet. In id urna vulputate velit blandit facilisis sit amet ac erat. 
      Morbi a est sapien. Proin porta varius enim, quis ullamcorper nulla consectetur non. 
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
      Mauris tempus tellus at dolor aliquam eleifend.

      Praesent aliquam cursus efficitur. Donec quis libero lacus. 
      Aliquam non massa quis dui sollicitudin fringilla sit amet sit amet orci. 
      Phasellus at semper quam. Praesent tincidunt nisi non risus cursus, 
      malesuada lobortis nunc fringilla. Integer ullamcorper finibus volutpat. 
      Praesent at efficitur nisi, in bibendum dolor. Vestibulum egestas, libero 
      eget suscipit aliquam, magna risus cursus velit, quis lobortis metus velit 
      a dolor. Vivamus quis vulputate ligula.

      Vestibulum nec mauris consectetur, auctor lorem vitae, venenatis diam. 
      Sed id dolor arcu. Nunc laoreet massa sed semper porttitor. Cras vehicula 
      mollis pretium. Praesent pharetra odio eget dictum interdum. Nullam eu dui 
      convallis elit sollicitudin molestie. Maecenas ac augue sed nunc accumsan accumsan. 
      Fusce nec sapien fermentum nisi condimentum aliquet ac sit amet lectus. 
    </h3>
    <form action="login.html">
      <input type="submit" value="Login or Sign Up" />
    </form>
    <br>
    <br>
  </body>
  <footer>
    <hr>
    <p>Team 5</p>
  </footer>
</html>