<!DOCTYPE html>
<html>
   <head>
       <title> Login </title>
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/login.css" />
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
       <script src="/static/XChange/js/login.js"></script>
       <link rel="icon" href="/static/XChange/images/tab_favicon.png">
   </head>
   <body>
    <h1 id="login-page-title"><span id="x">X</span><span id="c">C</span>hange</h1>
    <br><br>
    {% if error %}
        <h1> {{ error }} </h1>
    {% endif %}  
    <div id="log_sign">
        <div id="login">
            <h2>Login</h2>
            <form method = "post">
                {% csrf_token %}
                {{ login_form.as_p }} 
                <button type="submit" name="submit" value="login">Login</button>
            </form>
        </div>        
        <div id="signup">
            <h2> Sign-Up </h2>
            <form method = "post">
                {% csrf_token %}
                {% for field in reg_form %}
                  <p>
                    {{ field.label_tag }}
                    {{ field }}
                    <div class="signUpPrompt">
                        {% if field.help_text and not field.name == 'username' %}
                          <small>{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    </div>
                  </p>
                {% endfor %}
                <button type="submit" name="submit" value="register">Register</button>
            </form>
        </div>
    </div>
   </body>
</html>

