<!DOCTYPE html>
<html>
   <head>
       <title> Login </title>
   </head>
   <body>
    <h1> Login </h1> 
    
    
    <form>
    <div id="login">        
        <label for="user">Username</label>
        <input type="text" placeholder="Enter Username" name="user" required>
        <br>
        <br>  
        <label for="pass">Password</label>
        <input type="password" placeholder="Enter Password" name="pass" required>
        <br>
        <button type="submit">Login</button>
    </div>        
    
    
    <br> 
    
    <h2> Sign-Up </h2>
    <div id="signup">
    
        <label for="user">Username</label>
        <input type="text" placeholder="Enter Username" name="user" required>
        <br>
        <br>
        <label for="pass">Password</label>
        <input type="password" placeholder="Enter Password" name="pass" required>
        <br>
        <br>
        <label for="pass">Repeat Password</label>
        <input type="rep-pass" placeholder="Re-Enter Password" name="pass" required>        
        <br>
        <br>
        <label for="pass">Email</label>
        <input type="email" placeholder="Enter Email" name="email" required>        
        
        <br>
        <button type="submit">Submit</button>
    </div> 
    </form>
       
    
    
    
   </body>
   
</html>

