<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
  </head
  <body>
    <h1 id="portfolio-title">My Portfolio</h1>
    <br>
    <ul>
      <li class="homeNav"><a href="/home.html">Home</a></li>
      <li class="portNav"><a href="#">My Portfolio</a></li>
      <li class="srchNav"><a href="search.html">Search</a></li>
      <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
      <li class="settNav"><a href="settings.html">Settings</a></li>
    </ul>
    <br>
  </body>
</html>