<!DOCTYPE html>
<html>
  <head>
    <title>My Portfolio</title>
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/myPortfolio.css" />
    <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
    <script src="/static/XChange/js/myPortfolio.js"></script>
    <link rel="icon" href="/static/XChange/images/tab_favicon.png">
  </head
  <body>
    <h1 id="portfolio-title">My Portfolio</h1>
    <br>
    <div class="navBarDiv" id ="navBarDiv">
      <ul class="navBarList">
        <li class="homeNav"><a href="/home.html">Home</a></li>
        <li class="portNav"><a href="#">My Portfolio</a></li>
        <li class="srchNav"><a href="search.html">Search</a></li>
        <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
        <li class="settNav"><a href="settings.html">Settings</a></li>
      </ul>
    </div>
    
    <div id="Wrap">
      <div id="divAsset">
        <h2>Assets</h2>
      </div>
      <div id="divCurrentAsset">
        <h2>Name of currently selected asset:</h2>
      </div>
      <div id="divBookAsset">
        <h2>Bookmarks</h2>
      </div>
    </div>
         
    <div id = "holder">  
      <div id="assets">
        <ul id="assetsUl" >
          <li> Apple </li> <br>
          <li> Google </li> <br>
          <li> Micorsoft </li> <br>
          <li> Ford Motor Co </li> <br>
          <li> Nike Inc </li> <br>
          <li> SVB Financial Group </li> <br>
          <li> Regions Financial Corp </li> <br>
        </ul>
      </div>
    
      
      <div id="graphDiv">
        <p>Apple</p>
      </div>
      
      <div id="myBookmarks">
        <ul id="myBookmarksu1">
          <li> Apple </li> <br>
          <li> Google </li> <br>
          <li> Micorsoft </li> <br>
        </ul>
      </div>
    </div>
    
    <div id="buySell">
        <button class="options">Buy</button>
        <button class="options">Sell</button>
    </div>
    <br>
  </body>
</html>