<!DOCTYPE html>
<html>
    <head>
    <title> Detailed Search </title>
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/search.css" />
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
       <script src="/static/XChange/js/search.js"></script>
       <link rel="icon" href="/static/XChange/images/tab_favicon.png">
    </head>
<!-- Insert Nav Bar -->
    <body>
        <h1  id="search-title">Detailed Search</h1>
        <div class="navBarDiv">
            <ul class="navBarList">
              <li class="homeNav"><a href="/home.html">Home</a></li>
              <li class="portNav"><a href="/myPortfolio.html">My Portfolio</a></li>
              <li class="srchNav"><a href="#">Search</a></li>
              <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
              <li class="settNav"><a href="settings.html">Settings</a></li>
            </ul>
        </div>
        <br>        
        
        <div id="s">
            
            <div id="searchBar">
                <input type="text" name="Search Here" placeholder="Search Here" />
                <button id="searchBarButton" type="submit"> Search </button>
            </div>
        
            <div>
                <table id="s-table">
                    <!--<table style="width: 50%">-->
                    <tr>
                        <th> Company </th>
                        <th> Price-Point </th>
                        <th> Growth </th>
                    </tr>
                    
                     <tr>
                        <td> Test Company </td>
                        <td> Test Price-Point </td>
                        <td> Test Growth </td>
                    </tr>
                    
                     <tr>
                        <td> Test Company 2 </td>
                        <td> Test Price-Point 2 </td>
                        <td> Test Growth 2 </td>
                    </tr>                
                
                     <tr>
                        <td> Test Company 3 </td>
                        <td> Test Price-Point 3 </td>
                        <td> Test Growth 3 </td>
                    </tr>
                    
                     <tr>
                        <td> Test Company 3</td>
                        <td> Test Price-Point 3</td>
                        <td> Test Growth 3</td>
                    </tr>                
                </table>
            </div>
        </div>
    </body>    
    <footer>
        <hr>
        <p>Team 5</p>
    </footer>
</html>