<!DOCTYPE html>
<html>
    <head>
    <title> Detailed Search </title>
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/search.css" />
       <link rel="stylesheet" type="text/css" href="/static/XChange/css/common.css" />
       <script src="/static/XChange/js/search.js"></script>
       <link rel="icon" href="/static/XChange/images/tab_favicon.png">
    </head>
<!-- Insert Nav Bar -->
    <body>
        <h1  id="search-title">Detailed Search</h1>
        <div class="navBarDiv">
            <ul class="navBarList">
              <li class="homeNav"><a href="/home.html">Home</a></li>
              <li class="portNav"><a href="/myPortfolio.html">My Portfolio</a></li>
              <li class="srchNav"><a href="#">Search</a></li>
              <li class="bmarkNav"><a href="bookmarks">Bookmarks</a></li>
              <li class="settNav"><a href="settings.html">Settings</a></li>
            </ul>
        </div>
        <br>        
        
        <div id="s">
            
            <div id="searchBar">
                <form method='POST'>
                    <input type="text" name="searchText" placeholder="Enter Asset Symbol" />
                    {% csrf_token %}
                    <button id="searchBarButton" type="submit" value="Search" name="submit"> Search </button>
                </form>
            </div>
            {% if error %}
                <h2 id="errorMsg"> {{error}} </h2>
            {% endif %}
            <div>
                <table id="s-table">
                    <!--<table style="width: 50%">-->
                    <tr>
                        <th> Company </th>
                        <th> Price-Point </th>
                        <th> Growth </th>
                    </tr>
                    
                    {% if currentSearch %}
                    <tr>
                        <td id="currSymbol">{{ symbol }}</td>
                        <td id="currPrice">{{ currentPrice }}</td>
                        <td id="currGrowth">{{change}} ({{ currentGrowth }}%)</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </body>
</html>