.navBarDiv {
    margin: auto;
}

.navBarList {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: black;
    background-color: #555555;
}

#bookmark-title {
  color: teal;
  /*padding: 10px;*/
  text-align: center;
  padding-top: 1%;
  font-family: 'Arial';
  font-size: 50px;
}

li {
    float: left;
}

li a {
    display: block;
    text-decoration: none;
    color:black;
    color: #DDDDDD;
    padding: 15px 30px 15px 30px;
    text-align: center;
    font-weight: bold;
    font-family: "Arial";
    font-size: 20px;
}

li a:hover {
  background-color: #444444;
  color: #31dbe3;
}
  
body {
  background-color: #EEEEEE;
}