#front-page-title {
  color: teal;
  /*padding: 10px;*/
  text-align: center;
  padding-top: 10%;
  font-family: monospace;
  font-size: 100px;
}

#x {
  color: #31dbe3;
  font-size: 120px;
}

#c {
  font-size: 120px;
}

img {
  width: 400px;
  height: 225px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h2, h3 {
  text-align: center;
  padding-left: 30%;
  padding-right: 30%;
  font-weight: normal;
  /* font-family: "Arial"; */
  line-height: 40px;
}

body {
  background-color: #EEEEEE;
}
